<div layout="row" ng-cloak>
    <p>
        Welcome to this little about page for my weekend challenge. This assignment was completed and developed by the Prime Digital Academy student below.
    </p>
</div>
<div class='md-padding' layout="row" layout-wrap>
<md-card flex-md="25" class="student">
        <img src="/images/renee.jpeg" class="md-card-image" alt="This is Renee!">
        <md-card-content>
            <md-card-footer>
                Renee
            </md-card-footer>
        </md-card-content>
</md-card>
</div>